<div class="content">
  <!-- Title -->
  <h1>Amazon S3 Uploader</h1>
  <!-- Elements for uploading file -->
  <div class="upload">
    <!-- Input for selecting file -->
    <input type="file" id="s3File" (change)="onFileSelected($event)">
    <label *ngIf="!selectedFile" for="s3File">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-bucket-fill" viewBox="0 0 16 16">
        <path d="M2.522 5H2a.5.5 0 0 0-.494.574l1.372 9.149A1.5 1.5 0 0 0 4.36 16h7.278a1.5 1.5 0 0 0 1.483-1.277l1.373-9.149A.5.5 0 0 0 14 5h-.522A5.5 5.5 0 0 0 2.522 5zm1.005 0a4.5 4.5 0 0 1 8.945 0H3.527z"/>
      </svg>
      <span>Seleccione un archivo</span>
    </label>
    <!-- Button for removing file -->
    <button *ngIf="!loading && selectedFile" class="file-btn" (click)="removeFile()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-file-earmark-fill file-icon" viewBox="0 0 16 16">
        <path d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3z"/>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-x-lg remove-icon" viewBox="0 0 16 16">
        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
      </svg>
      <span>{{ selectedFile.name }}</span> 
    </button>
    <!-- Button for uploading file -->
    <button *ngIf="!loading && selectedFile" class="upload-btn" (click)="uploadFile()">Subir archivo</button>
    <!-- Loading GIF -->
    <div *ngIf="loading && !success && !error" class="loading">
      <img src="assets/images/loading.gif" alt="Loading...">
    </div>
    <!-- Element for indicating if file uploaded successfully -->
    <div *ngIf="loading && success" class="success-alert">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm3.97-11.03a.75.75 0 0 1 1.071 1.05l-4.992 5a.75.75 0 0 1-1.08-.02l-2.992-3a.75.75 0 1 1 1.08-1.04l2.47 2.47 4.47-4.5z"/>
      </svg>
      <span>Archivo subido correctamente</span>
    </div>
    <!-- Element for indicating if file didn't uploaded successfully -->
    <div *ngIf="loading && error" class="error-alert">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
      </svg>
      <span>Ocurrio un error al subir el archivo</span>
    </div>
  </div>
</div>