@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// Contenido
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5rem;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  padding: 2.5rem;
}

// H1
h1 {
  font-size: 2.5rem;
  font-family: 'Poppins';
  text-align: center;
  color: #232f3e;
}

// Upload Wrapper
.upload {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins';
  color: white;
  gap: 0.5rem;
}

// Input
input {
  display: none;
}

// Label
label {
  cursor: pointer;
  padding: 1rem;
  background: #ff8800;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  // SVG
  svg {
    width: 1rem;
    height: 1rem;
    transition: all 0.5s ease;
  }

  // Span
  span {
    font-size: 0rem;
    transition: all 0.5s ease;
  }

  // On hover
  &:hover {
    // Rotate SVG 120 degrees
    svg {
      transform: rotate(120deg);
    }

    // Show span
    span {
      font-size: 1rem;
      margin-left: 0.5rem;
    }
  }
}

// Boton para eliminar archivo
.file-btn {
  cursor: pointer;
  padding: 1rem;
  background: #232f3e;
  border-radius: 2rem;
  border: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  // File SVG
  .file-icon {
    width: 1rem;
    height: 1rem;
    transition: all 0.5s ease;
  }

  // Remove SVG
  .remove-icon {
    width: 0rem;
    height: 0rem;
    transition: all 0.5s ease;
  }

  // Span
  span {
    font-size: 0rem;
    transition: all 0.5s ease;
  }

  // On hover
  &:hover {
    // Rotate File SVG 360 degrees and hide it
    .file-icon {
      width: 0rem;
      height: 0rem;
      transform: rotate(360deg);
    }

    // Rotate Remove SVG 360 degrees and show it
    .remove-icon {
      width: 1rem;
      height: 1rem;
      transform: rotate(360deg);
    }

    // Show span
    span {
      font-size: 1rem;
      margin-left: 0.5rem;
    }
  }
}

// Upload button
.upload-btn {
  cursor: pointer;
  padding: 1rem;
  background: #ff8800;
  border-radius: 2rem;
  border: 0;
  font-size: 1rem;
  font-family: 'Poppins';
  color: white;
}

// Success and error alerts
.success-alert, .error-alert {
  padding: 1rem;
  background-color: #00c600;
  border: 0;
  color: white;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  // SVG
  svg {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
  }

  // Span
  span {
    font-size: 1rem;
    font-family: 'Poppins';
  }
}

// Error alert
.error-alert {
  background-color: #ff0000;
}

// Loading GIF
.loading {
  padding: 1rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  overflow: hidden;
  img {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8rem;
    height: 8rem;
  }
}