/* You can add global styles to this file, and also import other style files */

// Body style
body {
  background-image: url(https://images.hdqwalls.com/wallpapers/orange-minimalism.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}